
//font
//$font-family-base:moon;
//background
//$component-active-bg:#ef8143;

////color overwrites
//$primary:red;
//$custom:gold;
//$custom2:purple;


/*// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Some example variables that you can uncomment:

// Enabling shadows and gradients
$enable-shadows: true;
$enable-gradients: true;

// Changing the body background and text
$body-bg: #d3e9eb;
$body-color: #151417;

// Changing the border radius of buttons
$border-radius: 15px;*/

// Changing the theme colors
$primary: #284854;
$secondary: #60747c;
//$success: #2bc550; niet verandert
//$info: #495dff; niet verandert
//$warning: #ef8143; niet verandert
$danger: #d9a774;
$light: #b8b8aa;
$dark: #232c27;


